.characters {
  padding: 56px 16px 16px;
  max-width: 1366px;
  margin: 0 auto;
  background: #E5E5E5;
  @media (min-width: 768px) {
    padding: 56px 16px 24px;
  }
  @media (min-width: 1024px) {
    padding: 64px 24px 40px;
  }
  @media (min-width: 1366px) {
    padding: 64px 0px 60px;
  }
  &__input {
    color: rgba(0, 0, 0, 0.87);
  }
}