.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  
  animation: 0.7s linear 0s infinite alternate spinner;
  @keyframes spinner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}